<xml>
	<property name="ACC" value="tableview" />
	<property name="ACC.column_0_name" value="Signal" />
	<property name="ACC.column_0_show" value="true" />
	<property name="ACC.column_0_width" value="100" />
	<property name="ACC.column_1_name" value="Time" />
	<property name="ACC.column_1_show" value="true" />
	<property name="ACC.column_1_width" value="100" />
	<property name="ACC.column_2_name" value="Value" />
	<property name="ACC.column_2_show" value="true" />
	<property name="ACC.column_2_width" value="100" />
	<property name="ACC.column_3_name" value="Unit" />
	<property name="ACC.column_3_show" value="true" />
	<property name="ACC.column_3_width" value="100" />
	<property name="ACC.column_4_name" value="Raw" />
	<property name="ACC.column_4_show" value="true" />
	<property name="ACC.column_4_width" value="100" />
	<property name="ACC.column_5_name" value="Text" />
	<property name="ACC.column_5_show" value="true" />
	<property name="ACC.column_5_width" value="100" />
	<property name="ACC.height" value="145" />
	<property name="ACC.maximized" value="false" />
	<property name="ACC.signal_0_displayformat" value="1" />
	<property name="ACC.signal_0_displayname" value="f32Value" />
	<property name="ACC.signal_0_name" value="adtf.core.mediadescription_manager/AdaptiveCruiseControl/Adaptive_Speed/data/tSignalValue/f32Value" />
	<property name="ACC.signal_0_unit" value="" />
	<property name="ACC.signal_1_displayformat" value="1" />
	<property name="ACC.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="ACC.signal_1_name" value="adtf.core.mediadescription_manager/AdaptiveCruiseControl/Adaptive_Speed/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="ACC.signal_1_unit" value="" />
	<property name="ACC.signal_count" value="2" />
	<property name="ACC.width" value="550" />
	<property name="ACC.x_pos" value="0" />
	<property name="ACC.y_pos" value="155" />
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="399" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="220" />
	<property name="signalValueGenerator" value="tableview" />
	<property name="signalValueGenerator.column_0_name" value="Signal" />
	<property name="signalValueGenerator.column_0_show" value="true" />
	<property name="signalValueGenerator.column_0_width" value="100" />
	<property name="signalValueGenerator.column_1_name" value="Time" />
	<property name="signalValueGenerator.column_1_show" value="true" />
	<property name="signalValueGenerator.column_1_width" value="100" />
	<property name="signalValueGenerator.column_2_name" value="Value" />
	<property name="signalValueGenerator.column_2_show" value="true" />
	<property name="signalValueGenerator.column_2_width" value="100" />
	<property name="signalValueGenerator.column_3_name" value="Unit" />
	<property name="signalValueGenerator.column_3_show" value="true" />
	<property name="signalValueGenerator.column_3_width" value="100" />
	<property name="signalValueGenerator.column_4_name" value="Raw" />
	<property name="signalValueGenerator.column_4_show" value="true" />
	<property name="signalValueGenerator.column_4_width" value="100" />
	<property name="signalValueGenerator.column_5_name" value="Text" />
	<property name="signalValueGenerator.column_5_show" value="true" />
	<property name="signalValueGenerator.column_5_width" value="100" />
	<property name="signalValueGenerator.height" value="155" />
	<property name="signalValueGenerator.maximized" value="false" />
	<property name="signalValueGenerator.signal_0_displayformat" value="1" />
	<property name="signalValueGenerator.signal_0_displayname" value="f32Value" />
	<property name="signalValueGenerator.signal_0_name" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_1/data/tSignalValue/f32Value" />
	<property name="signalValueGenerator.signal_0_unit" value="" />
	<property name="signalValueGenerator.signal_1_displayformat" value="1" />
	<property name="signalValueGenerator.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="signalValueGenerator.signal_1_name" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_1/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="signalValueGenerator.signal_1_unit" value="" />
	<property name="signalValueGenerator.signal_2_displayformat" value="1" />
	<property name="signalValueGenerator.signal_2_displayname" value="f32Value" />
	<property name="signalValueGenerator.signal_2_name" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_2/data/tSignalValue/f32Value" />
	<property name="signalValueGenerator.signal_2_unit" value="" />
	<property name="signalValueGenerator.signal_3_displayformat" value="1" />
	<property name="signalValueGenerator.signal_3_displayname" value="ui32ArduinoTimestamp" />
	<property name="signalValueGenerator.signal_3_name" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_2/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="signalValueGenerator.signal_3_unit" value="" />
	<property name="signalValueGenerator.signal_count" value="4" />
	<property name="signalValueGenerator.width" value="550" />
	<property name="signalValueGenerator.x_pos" value="0" />
	<property name="signalValueGenerator.y_pos" value="0" />
	<property name="width" value="420" />
</xml>
