<xml>
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="399" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="220" />
	<property name="width" value="420" />
</xml>
