<xml>
	<property name="CrossPark" value="tableview" />
	<property name="CrossPark.column_0_name" value="Signal" />
	<property name="CrossPark.column_0_show" value="true" />
	<property name="CrossPark.column_0_width" value="100" />
	<property name="CrossPark.column_1_name" value="Time" />
	<property name="CrossPark.column_1_show" value="true" />
	<property name="CrossPark.column_1_width" value="100" />
	<property name="CrossPark.column_2_name" value="Value" />
	<property name="CrossPark.column_2_show" value="true" />
	<property name="CrossPark.column_2_width" value="100" />
	<property name="CrossPark.column_3_name" value="Unit" />
	<property name="CrossPark.column_3_show" value="true" />
	<property name="CrossPark.column_3_width" value="100" />
	<property name="CrossPark.column_4_name" value="Raw" />
	<property name="CrossPark.column_4_show" value="true" />
	<property name="CrossPark.column_4_width" value="100" />
	<property name="CrossPark.column_5_name" value="Text" />
	<property name="CrossPark.column_5_show" value="true" />
	<property name="CrossPark.column_5_width" value="100" />
	<property name="CrossPark.height" value="214" />
	<property name="CrossPark.maximized" value="false" />
	<property name="CrossPark.signal_0_displayformat" value="1" />
	<property name="CrossPark.signal_0_displayname" value="bValue" />
	<property name="CrossPark.signal_0_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/Hazzard_Light/data/tBoolSignalValue/bValue" />
	<property name="CrossPark.signal_0_unit" value="" />
	<property name="CrossPark.signal_10_displayformat" value="1" />
	<property name="CrossPark.signal_10_displayname" value="bValue" />
	<property name="CrossPark.signal_10_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/turn-right_Light/data/tBoolSignalValue/bValue" />
	<property name="CrossPark.signal_10_unit" value="" />
	<property name="CrossPark.signal_11_displayformat" value="1" />
	<property name="CrossPark.signal_11_displayname" value="ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_11_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/turn-right_Light/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_11_unit" value="" />
	<property name="CrossPark.signal_1_displayformat" value="1" />
	<property name="CrossPark.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_1_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/Hazzard_Light/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_1_unit" value="" />
	<property name="CrossPark.signal_2_displayformat" value="1" />
	<property name="CrossPark.signal_2_displayname" value="f32Value" />
	<property name="CrossPark.signal_2_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/Speed/data/tSignalValue/f32Value" />
	<property name="CrossPark.signal_2_unit" value="" />
	<property name="CrossPark.signal_3_displayformat" value="1" />
	<property name="CrossPark.signal_3_displayname" value="ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_3_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/Speed/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_3_unit" value="" />
	<property name="CrossPark.signal_4_displayformat" value="1" />
	<property name="CrossPark.signal_4_displayname" value="f32Value" />
	<property name="CrossPark.signal_4_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/Steering/data/tSignalValue/f32Value" />
	<property name="CrossPark.signal_4_unit" value="" />
	<property name="CrossPark.signal_5_displayformat" value="1" />
	<property name="CrossPark.signal_5_displayname" value="ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_5_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/Steering/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_5_unit" value="" />
	<property name="CrossPark.signal_6_displayformat" value="1" />
	<property name="CrossPark.signal_6_displayname" value="bValue" />
	<property name="CrossPark.signal_6_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/finish_Parking/data/tBoolSignalValue/bValue" />
	<property name="CrossPark.signal_6_unit" value="" />
	<property name="CrossPark.signal_7_displayformat" value="1" />
	<property name="CrossPark.signal_7_displayname" value="ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_7_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/finish_Parking/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_7_unit" value="" />
	<property name="CrossPark.signal_8_displayformat" value="1" />
	<property name="CrossPark.signal_8_displayname" value="bValue" />
	<property name="CrossPark.signal_8_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/reverse_Light/data/tBoolSignalValue/bValue" />
	<property name="CrossPark.signal_8_unit" value="" />
	<property name="CrossPark.signal_9_displayformat" value="1" />
	<property name="CrossPark.signal_9_displayname" value="ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_9_name" value="adtf.core.mediadescription_manager/Cross_Parking_Filter/reverse_Light/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="CrossPark.signal_9_unit" value="" />
	<property name="CrossPark.signal_count" value="12" />
	<property name="CrossPark.width" value="550" />
	<property name="CrossPark.x_pos" value="5" />
	<property name="CrossPark.y_pos" value="529" />
	<property name="DecisionMaking" value="tableview" />
	<property name="DecisionMaking.column_0_name" value="Signal" />
	<property name="DecisionMaking.column_0_show" value="true" />
	<property name="DecisionMaking.column_0_width" value="134" />
	<property name="DecisionMaking.column_1_name" value="Time" />
	<property name="DecisionMaking.column_1_show" value="true" />
	<property name="DecisionMaking.column_1_width" value="100" />
	<property name="DecisionMaking.column_2_name" value="Value" />
	<property name="DecisionMaking.column_2_show" value="true" />
	<property name="DecisionMaking.column_2_width" value="100" />
	<property name="DecisionMaking.column_3_name" value="Unit" />
	<property name="DecisionMaking.column_3_show" value="true" />
	<property name="DecisionMaking.column_3_width" value="100" />
	<property name="DecisionMaking.column_4_name" value="Raw" />
	<property name="DecisionMaking.column_4_show" value="true" />
	<property name="DecisionMaking.column_4_width" value="100" />
	<property name="DecisionMaking.column_5_name" value="Text" />
	<property name="DecisionMaking.column_5_show" value="true" />
	<property name="DecisionMaking.column_5_width" value="100" />
	<property name="DecisionMaking.height" value="181" />
	<property name="DecisionMaking.maximized" value="false" />
	<property name="DecisionMaking.signal_0_displayformat" value="1" />
	<property name="DecisionMaking.signal_0_displayname" value="bValue" />
	<property name="DecisionMaking.signal_0_name" value="adtf.core.mediadescription_manager/Decision_Making/State_CrossPark/data/tBoolSignalValue/bValue" />
	<property name="DecisionMaking.signal_0_unit" value="" />
	<property name="DecisionMaking.signal_1_displayformat" value="1" />
	<property name="DecisionMaking.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="DecisionMaking.signal_1_name" value="adtf.core.mediadescription_manager/Decision_Making/State_CrossPark/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="DecisionMaking.signal_1_unit" value="" />
	<property name="DecisionMaking.signal_2_displayformat" value="1" />
	<property name="DecisionMaking.signal_2_displayname" value="bValue" />
	<property name="DecisionMaking.signal_2_name" value="adtf.core.mediadescription_manager/Decision_Making/State_Hold/data/tBoolSignalValue/bValue" />
	<property name="DecisionMaking.signal_2_unit" value="" />
	<property name="DecisionMaking.signal_3_displayformat" value="1" />
	<property name="DecisionMaking.signal_3_displayname" value="ui32ArduinoTimestamp" />
	<property name="DecisionMaking.signal_3_name" value="adtf.core.mediadescription_manager/Decision_Making/State_Hold/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="DecisionMaking.signal_3_unit" value="" />
	<property name="DecisionMaking.signal_4_displayformat" value="1" />
	<property name="DecisionMaking.signal_4_displayname" value="bValue" />
	<property name="DecisionMaking.signal_4_name" value="adtf.core.mediadescription_manager/Decision_Making/State_Lane_Following/data/tBoolSignalValue/bValue" />
	<property name="DecisionMaking.signal_4_unit" value="" />
	<property name="DecisionMaking.signal_5_displayformat" value="1" />
	<property name="DecisionMaking.signal_5_displayname" value="ui32ArduinoTimestamp" />
	<property name="DecisionMaking.signal_5_name" value="adtf.core.mediadescription_manager/Decision_Making/State_Lane_Following/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="DecisionMaking.signal_5_unit" value="" />
	<property name="DecisionMaking.signal_6_displayformat" value="1" />
	<property name="DecisionMaking.signal_6_displayname" value="bValue" />
	<property name="DecisionMaking.signal_6_name" value="adtf.core.mediadescription_manager/Decision_Making/State_ParallelPark/data/tBoolSignalValue/bValue" />
	<property name="DecisionMaking.signal_6_unit" value="" />
	<property name="DecisionMaking.signal_7_displayformat" value="1" />
	<property name="DecisionMaking.signal_7_displayname" value="ui32ArduinoTimestamp" />
	<property name="DecisionMaking.signal_7_name" value="adtf.core.mediadescription_manager/Decision_Making/State_ParallelPark/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="DecisionMaking.signal_7_unit" value="" />
	<property name="DecisionMaking.signal_count" value="8" />
	<property name="DecisionMaking.width" value="550" />
	<property name="DecisionMaking.x_pos" value="2" />
	<property name="DecisionMaking.y_pos" value="-7" />
	<property name="EmergencyBreak" value="tableview" />
	<property name="EmergencyBreak.column_0_name" value="Signal" />
	<property name="EmergencyBreak.column_0_show" value="true" />
	<property name="EmergencyBreak.column_0_width" value="100" />
	<property name="EmergencyBreak.column_1_name" value="Time" />
	<property name="EmergencyBreak.column_1_show" value="true" />
	<property name="EmergencyBreak.column_1_width" value="100" />
	<property name="EmergencyBreak.column_2_name" value="Value" />
	<property name="EmergencyBreak.column_2_show" value="true" />
	<property name="EmergencyBreak.column_2_width" value="100" />
	<property name="EmergencyBreak.column_3_name" value="Unit" />
	<property name="EmergencyBreak.column_3_show" value="true" />
	<property name="EmergencyBreak.column_3_width" value="100" />
	<property name="EmergencyBreak.column_4_name" value="Raw" />
	<property name="EmergencyBreak.column_4_show" value="true" />
	<property name="EmergencyBreak.column_4_width" value="100" />
	<property name="EmergencyBreak.column_5_name" value="Text" />
	<property name="EmergencyBreak.column_5_show" value="true" />
	<property name="EmergencyBreak.column_5_width" value="100" />
	<property name="EmergencyBreak.height" value="200" />
	<property name="EmergencyBreak.maximized" value="false" />
	<property name="EmergencyBreak.signal_0_displayformat" value="1" />
	<property name="EmergencyBreak.signal_0_displayname" value="f32Value" />
	<property name="EmergencyBreak.signal_0_name" value="adtf.core.mediadescription_manager/EmergencySTOP/SpeedOut/data/tSignalValue/f32Value" />
	<property name="EmergencyBreak.signal_0_unit" value="" />
	<property name="EmergencyBreak.signal_1_displayformat" value="1" />
	<property name="EmergencyBreak.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="EmergencyBreak.signal_1_name" value="adtf.core.mediadescription_manager/EmergencySTOP/SpeedOut/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="EmergencyBreak.signal_1_unit" value="" />
	<property name="EmergencyBreak.signal_2_displayformat" value="1" />
	<property name="EmergencyBreak.signal_2_displayname" value="bValue" />
	<property name="EmergencyBreak.signal_2_name" value="adtf.core.mediadescription_manager/EmergencySTOP/StopBool/data/tBoolSignalValue/bValue" />
	<property name="EmergencyBreak.signal_2_unit" value="" />
	<property name="EmergencyBreak.signal_3_displayformat" value="1" />
	<property name="EmergencyBreak.signal_3_displayname" value="ui32ArduinoTimestamp" />
	<property name="EmergencyBreak.signal_3_name" value="adtf.core.mediadescription_manager/EmergencySTOP/StopBool/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="EmergencyBreak.signal_3_unit" value="" />
	<property name="EmergencyBreak.signal_count" value="4" />
	<property name="EmergencyBreak.width" value="550" />
	<property name="EmergencyBreak.x_pos" value="548" />
	<property name="EmergencyBreak.y_pos" value="383" />
	<property name="Found_RoadSigns" value="tableview" />
	<property name="Found_RoadSigns.column_0_name" value="Signal" />
	<property name="Found_RoadSigns.column_0_show" value="true" />
	<property name="Found_RoadSigns.column_0_width" value="100" />
	<property name="Found_RoadSigns.column_1_name" value="Time" />
	<property name="Found_RoadSigns.column_1_show" value="true" />
	<property name="Found_RoadSigns.column_1_width" value="100" />
	<property name="Found_RoadSigns.column_2_name" value="Value" />
	<property name="Found_RoadSigns.column_2_show" value="true" />
	<property name="Found_RoadSigns.column_2_width" value="100" />
	<property name="Found_RoadSigns.column_3_name" value="Unit" />
	<property name="Found_RoadSigns.column_3_show" value="true" />
	<property name="Found_RoadSigns.column_3_width" value="100" />
	<property name="Found_RoadSigns.column_4_name" value="Raw" />
	<property name="Found_RoadSigns.column_4_show" value="true" />
	<property name="Found_RoadSigns.column_4_width" value="100" />
	<property name="Found_RoadSigns.column_5_name" value="Text" />
	<property name="Found_RoadSigns.column_5_show" value="true" />
	<property name="Found_RoadSigns.column_5_width" value="100" />
	<property name="Found_RoadSigns.height" value="200" />
	<property name="Found_RoadSigns.maximized" value="false" />
	<property name="Found_RoadSigns.signal_0_displayformat" value="1" />
	<property name="Found_RoadSigns.signal_0_displayname" value="f32Imagesize" />
	<property name="Found_RoadSigns.signal_0_name" value="adtf.core.mediadescription_manager/Roadsign_Preprocessing_Filter/RoadSignsFiltered/data/tRoadSign/f32Imagesize" />
	<property name="Found_RoadSigns.signal_0_unit" value="" />
	<property name="Found_RoadSigns.signal_1_displayformat" value="1" />
	<property name="Found_RoadSigns.signal_1_displayname" value="i16Identifier" />
	<property name="Found_RoadSigns.signal_1_name" value="adtf.core.mediadescription_manager/Roadsign_Preprocessing_Filter/RoadSignsFiltered/data/tRoadSign/i16Identifier" />
	<property name="Found_RoadSigns.signal_1_unit" value="" />
	<property name="Found_RoadSigns.signal_count" value="2" />
	<property name="Found_RoadSigns.width" value="550" />
	<property name="Found_RoadSigns.x_pos" value="547" />
	<property name="Found_RoadSigns.y_pos" value="191" />
	<property name="LaneTracking" value="tableview" />
	<property name="LaneTracking.column_0_name" value="Signal" />
	<property name="LaneTracking.column_0_show" value="true" />
	<property name="LaneTracking.column_0_width" value="100" />
	<property name="LaneTracking.column_1_name" value="Time" />
	<property name="LaneTracking.column_1_show" value="true" />
	<property name="LaneTracking.column_1_width" value="100" />
	<property name="LaneTracking.column_2_name" value="Value" />
	<property name="LaneTracking.column_2_show" value="true" />
	<property name="LaneTracking.column_2_width" value="100" />
	<property name="LaneTracking.column_3_name" value="Unit" />
	<property name="LaneTracking.column_3_show" value="true" />
	<property name="LaneTracking.column_3_width" value="100" />
	<property name="LaneTracking.column_4_name" value="Raw" />
	<property name="LaneTracking.column_4_show" value="true" />
	<property name="LaneTracking.column_4_width" value="100" />
	<property name="LaneTracking.column_5_name" value="Text" />
	<property name="LaneTracking.column_5_show" value="true" />
	<property name="LaneTracking.column_5_width" value="100" />
	<property name="LaneTracking.height" value="192" />
	<property name="LaneTracking.maximized" value="false" />
	<property name="LaneTracking.signal_0_displayformat" value="1" />
	<property name="LaneTracking.signal_0_displayname" value="f32Value" />
	<property name="LaneTracking.signal_0_name" value="adtf.core.mediadescription_manager/LaneTracking/Acceleration/data/tSignalValue/f32Value" />
	<property name="LaneTracking.signal_0_unit" value="" />
	<property name="LaneTracking.signal_1_displayformat" value="1" />
	<property name="LaneTracking.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="LaneTracking.signal_1_name" value="adtf.core.mediadescription_manager/LaneTracking/Acceleration/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="LaneTracking.signal_1_unit" value="" />
	<property name="LaneTracking.signal_2_displayformat" value="1" />
	<property name="LaneTracking.signal_2_displayname" value="bValue" />
	<property name="LaneTracking.signal_2_name" value="adtf.core.mediadescription_manager/LaneTracking/HeadLights/data/tBoolSignalValue/bValue" />
	<property name="LaneTracking.signal_2_unit" value="" />
	<property name="LaneTracking.signal_3_displayformat" value="1" />
	<property name="LaneTracking.signal_3_displayname" value="ui32ArduinoTimestamp" />
	<property name="LaneTracking.signal_3_name" value="adtf.core.mediadescription_manager/LaneTracking/HeadLights/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="LaneTracking.signal_3_unit" value="" />
	<property name="LaneTracking.signal_4_displayformat" value="1" />
	<property name="LaneTracking.signal_4_displayname" value="f32Value" />
	<property name="LaneTracking.signal_4_name" value="adtf.core.mediadescription_manager/LaneTracking/Steering_Angle/data/tSignalValue/f32Value" />
	<property name="LaneTracking.signal_4_unit" value="" />
	<property name="LaneTracking.signal_5_displayformat" value="1" />
	<property name="LaneTracking.signal_5_displayname" value="ui32ArduinoTimestamp" />
	<property name="LaneTracking.signal_5_name" value="adtf.core.mediadescription_manager/LaneTracking/Steering_Angle/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="LaneTracking.signal_5_unit" value="" />
	<property name="LaneTracking.signal_6_displayformat" value="1" />
	<property name="LaneTracking.signal_6_displayname" value="f32Value" />
	<property name="LaneTracking.signal_6_name" value="adtf.core.mediadescription_manager/LaneTracking/Steering_Angle_PT1/data/tSignalValue/f32Value" />
	<property name="LaneTracking.signal_6_unit" value="" />
	<property name="LaneTracking.signal_7_displayformat" value="1" />
	<property name="LaneTracking.signal_7_displayname" value="ui32ArduinoTimestamp" />
	<property name="LaneTracking.signal_7_name" value="adtf.core.mediadescription_manager/LaneTracking/Steering_Angle_PT1/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="LaneTracking.signal_7_unit" value="" />
	<property name="LaneTracking.signal_count" value="8" />
	<property name="LaneTracking.width" value="550" />
	<property name="LaneTracking.x_pos" value="-4" />
	<property name="LaneTracking.y_pos" value="169" />
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="399" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="346" />
	<property name="StateController" value="tableview" />
	<property name="StateController.column_0_name" value="Signal" />
	<property name="StateController.column_0_show" value="true" />
	<property name="StateController.column_0_width" value="216" />
	<property name="StateController.column_1_name" value="Time" />
	<property name="StateController.column_1_show" value="true" />
	<property name="StateController.column_1_width" value="100" />
	<property name="StateController.column_2_name" value="Value" />
	<property name="StateController.column_2_show" value="true" />
	<property name="StateController.column_2_width" value="100" />
	<property name="StateController.column_3_name" value="Unit" />
	<property name="StateController.column_3_show" value="true" />
	<property name="StateController.column_3_width" value="100" />
	<property name="StateController.column_4_name" value="Raw" />
	<property name="StateController.column_4_show" value="true" />
	<property name="StateController.column_4_width" value="100" />
	<property name="StateController.column_5_name" value="Text" />
	<property name="StateController.column_5_show" value="true" />
	<property name="StateController.column_5_width" value="100" />
	<property name="StateController.height" value="200" />
	<property name="StateController.maximized" value="false" />
	<property name="StateController.signal_0_displayformat" value="1" />
	<property name="StateController.signal_0_displayname" value="i16ManeuverEntry" />
	<property name="StateController.signal_0_name" value="adtf.core.mediadescription_manager/State_Controller_OptiCar/Driver_Struct/data/tDriverStruct/i16ManeuverEntry" />
	<property name="StateController.signal_0_unit" value="" />
	<property name="StateController.signal_1_displayformat" value="1" />
	<property name="StateController.signal_1_displayname" value="i8StateID" />
	<property name="StateController.signal_1_name" value="adtf.core.mediadescription_manager/State_Controller_OptiCar/Driver_Struct/data/tDriverStruct/i8StateID" />
	<property name="StateController.signal_1_unit" value="" />
	<property name="StateController.signal_2_displayformat" value="1" />
	<property name="StateController.signal_2_displayname" value="adtf.core.mediadescription_manager/State_Controller_OptiCar/Maneuvre Code;/data/tInt32SignalValue/intValue" />
	<property name="StateController.signal_2_name" value="adtf.core.mediadescription_manager/State_Controller_OptiCar/Maneuvre Code;/data/tInt32SignalValue/intValue" />
	<property name="StateController.signal_2_unit" value="" />
	<property name="StateController.signal_3_displayformat" value="1" />
	<property name="StateController.signal_3_displayname" value="ui32ArduinoTimestamp" />
	<property name="StateController.signal_3_name" value="adtf.core.mediadescription_manager/State_Controller_OptiCar/Maneuvre Code;/data/tInt32SignalValue/ui32ArduinoTimestamp" />
	<property name="StateController.signal_3_unit" value="" />
	<property name="StateController.signal_4_displayformat" value="1" />
	<property name="StateController.signal_4_displayname" value="bValue" />
	<property name="StateController.signal_4_name" value="adtf.core.mediadescription_manager/State_Controller_OptiCar/Start;/data/tBoolSignalValue/bValue" />
	<property name="StateController.signal_4_unit" value="" />
	<property name="StateController.signal_5_displayformat" value="1" />
	<property name="StateController.signal_5_displayname" value="ui32ArduinoTimestamp" />
	<property name="StateController.signal_5_name" value="adtf.core.mediadescription_manager/State_Controller_OptiCar/Start;/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="StateController.signal_5_unit" value="" />
	<property name="StateController.signal_count" value="6" />
	<property name="StateController.width" value="550" />
	<property name="StateController.x_pos" value="541" />
	<property name="StateController.y_pos" value="-9" />
	<property name="StopFilter" value="tableview" />
	<property name="StopFilter.column_0_name" value="Signal" />
	<property name="StopFilter.column_0_show" value="true" />
	<property name="StopFilter.column_0_width" value="100" />
	<property name="StopFilter.column_1_name" value="Time" />
	<property name="StopFilter.column_1_show" value="true" />
	<property name="StopFilter.column_1_width" value="100" />
	<property name="StopFilter.column_2_name" value="Value" />
	<property name="StopFilter.column_2_show" value="true" />
	<property name="StopFilter.column_2_width" value="100" />
	<property name="StopFilter.column_3_name" value="Unit" />
	<property name="StopFilter.column_3_show" value="true" />
	<property name="StopFilter.column_3_width" value="100" />
	<property name="StopFilter.column_4_name" value="Raw" />
	<property name="StopFilter.column_4_show" value="true" />
	<property name="StopFilter.column_4_width" value="100" />
	<property name="StopFilter.column_5_name" value="Text" />
	<property name="StopFilter.column_5_show" value="true" />
	<property name="StopFilter.column_5_width" value="100" />
	<property name="StopFilter.height" value="171" />
	<property name="StopFilter.maximized" value="false" />
	<property name="StopFilter.signal_0_displayformat" value="1" />
	<property name="StopFilter.signal_0_displayname" value="bValue" />
	<property name="StopFilter.signal_0_name" value="adtf.core.mediadescription_manager/Stop_Filter/Stop_LF/data/tBoolSignalValue/bValue" />
	<property name="StopFilter.signal_0_unit" value="" />
	<property name="StopFilter.signal_1_displayformat" value="1" />
	<property name="StopFilter.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="StopFilter.signal_1_name" value="adtf.core.mediadescription_manager/Stop_Filter/Stop_LF/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="StopFilter.signal_1_unit" value="" />
	<property name="StopFilter.signal_2_displayformat" value="1" />
	<property name="StopFilter.signal_2_displayname" value="fMaxVel" />
	<property name="StopFilter.signal_2_name" value="adtf.core.mediadescription_manager/Stop_Filter/Velocity/data/tLTVelocityValue/fMaxVel" />
	<property name="StopFilter.signal_2_unit" value="" />
	<property name="StopFilter.signal_3_displayformat" value="1" />
	<property name="StopFilter.signal_3_displayname" value="fMinVel" />
	<property name="StopFilter.signal_3_name" value="adtf.core.mediadescription_manager/Stop_Filter/Velocity/data/tLTVelocityValue/fMinVel" />
	<property name="StopFilter.signal_3_unit" value="" />
	<property name="StopFilter.signal_4_displayformat" value="1" />
	<property name="StopFilter.signal_4_displayname" value="ui32ArduinoTimestamp" />
	<property name="StopFilter.signal_4_name" value="adtf.core.mediadescription_manager/Stop_Filter/Velocity/data/tLTVelocityValue/ui32ArduinoTimestamp" />
	<property name="StopFilter.signal_4_unit" value="" />
	<property name="StopFilter.signal_5_displayformat" value="1" />
	<property name="StopFilter.signal_5_displayname" value="bValue" />
	<property name="StopFilter.signal_5_name" value="adtf.core.mediadescription_manager/Stop_Filter/finish_Stopping/data/tBoolSignalValue/bValue" />
	<property name="StopFilter.signal_5_unit" value="" />
	<property name="StopFilter.signal_6_displayformat" value="1" />
	<property name="StopFilter.signal_6_displayname" value="ui32ArduinoTimestamp" />
	<property name="StopFilter.signal_6_name" value="adtf.core.mediadescription_manager/Stop_Filter/finish_Stopping/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="StopFilter.signal_6_unit" value="" />
	<property name="StopFilter.signal_count" value="7" />
	<property name="StopFilter.width" value="550" />
	<property name="StopFilter.x_pos" value="0" />
	<property name="StopFilter.y_pos" value="361" />
	<property name="TickFilter" value="tableview" />
	<property name="TickFilter.column_0_name" value="Signal" />
	<property name="TickFilter.column_0_show" value="true" />
	<property name="TickFilter.column_0_width" value="100" />
	<property name="TickFilter.column_1_name" value="Time" />
	<property name="TickFilter.column_1_show" value="true" />
	<property name="TickFilter.column_1_width" value="100" />
	<property name="TickFilter.column_2_name" value="Value" />
	<property name="TickFilter.column_2_show" value="true" />
	<property name="TickFilter.column_2_width" value="100" />
	<property name="TickFilter.column_3_name" value="Unit" />
	<property name="TickFilter.column_3_show" value="true" />
	<property name="TickFilter.column_3_width" value="100" />
	<property name="TickFilter.column_4_name" value="Raw" />
	<property name="TickFilter.column_4_show" value="true" />
	<property name="TickFilter.column_4_width" value="100" />
	<property name="TickFilter.column_5_name" value="Text" />
	<property name="TickFilter.column_5_show" value="true" />
	<property name="TickFilter.column_5_width" value="100" />
	<property name="TickFilter.height" value="200" />
	<property name="TickFilter.maximized" value="false" />
	<property name="TickFilter.signal_0_displayformat" value="1" />
	<property name="TickFilter.signal_0_displayname" value="f32Value" />
	<property name="TickFilter.signal_0_name" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/f32Value" />
	<property name="TickFilter.signal_0_unit" value="" />
	<property name="TickFilter.signal_1_displayformat" value="1" />
	<property name="TickFilter.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="TickFilter.signal_1_name" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="TickFilter.signal_1_unit" value="" />
	<property name="TickFilter.signal_2_displayformat" value="1" />
	<property name="TickFilter.signal_2_displayname" value="f32Value" />
	<property name="TickFilter.signal_2_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/f32Value" />
	<property name="TickFilter.signal_2_unit" value="" />
	<property name="TickFilter.signal_3_displayformat" value="1" />
	<property name="TickFilter.signal_3_displayname" value="ui32ArduinoTimestamp" />
	<property name="TickFilter.signal_3_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="TickFilter.signal_3_unit" value="" />
	<property name="TickFilter.signal_4_displayformat" value="1" />
	<property name="TickFilter.signal_4_displayname" value="f32Value" />
	<property name="TickFilter.signal_4_name" value="adtf.core.mediadescription_manager/Tick_Filter/rotation_overall/data/tSignalValue/f32Value" />
	<property name="TickFilter.signal_4_unit" value="" />
	<property name="TickFilter.signal_5_displayformat" value="1" />
	<property name="TickFilter.signal_5_displayname" value="ui32ArduinoTimestamp" />
	<property name="TickFilter.signal_5_name" value="adtf.core.mediadescription_manager/Tick_Filter/rotation_overall/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="TickFilter.signal_5_unit" value="" />
	<property name="TickFilter.signal_count" value="6" />
	<property name="TickFilter.width" value="550" />
	<property name="TickFilter.x_pos" value="556" />
	<property name="TickFilter.y_pos" value="531" />
	<property name="width" value="1008" />
</xml>
