<xml>
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="399" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="220" />
	<property name="Vadsk" value="tableview" />
	<property name="Vadsk.column_0_name" value="Signal" />
	<property name="Vadsk.column_0_show" value="true" />
	<property name="Vadsk.column_0_width" value="100" />
	<property name="Vadsk.column_1_name" value="Time" />
	<property name="Vadsk.column_1_show" value="true" />
	<property name="Vadsk.column_1_width" value="100" />
	<property name="Vadsk.column_2_name" value="Value" />
	<property name="Vadsk.column_2_show" value="true" />
	<property name="Vadsk.column_2_width" value="100" />
	<property name="Vadsk.column_3_name" value="Unit" />
	<property name="Vadsk.column_3_show" value="true" />
	<property name="Vadsk.column_3_width" value="100" />
	<property name="Vadsk.column_4_name" value="Raw" />
	<property name="Vadsk.column_4_show" value="true" />
	<property name="Vadsk.column_4_width" value="100" />
	<property name="Vadsk.column_5_name" value="Text" />
	<property name="Vadsk.column_5_show" value="true" />
	<property name="Vadsk.column_5_width" value="100" />
	<property name="Vadsk.height" value="200" />
	<property name="Vadsk.maximized" value="false" />
	<property name="Vadsk.signal_0_displayformat" value="1" />
	<property name="Vadsk.signal_0_displayname" value="f32Value" />
	<property name="Vadsk.signal_0_name" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/f32Value" />
	<property name="Vadsk.signal_0_unit" value="" />
	<property name="Vadsk.signal_1_displayformat" value="1" />
	<property name="Vadsk.signal_1_displayname" value="f32Value" />
	<property name="Vadsk.signal_1_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/f32Value" />
	<property name="Vadsk.signal_1_unit" value="" />
	<property name="Vadsk.signal_count" value="2" />
	<property name="Vadsk.width" value="550" />
	<property name="Vadsk.x_pos" value="0" />
	<property name="Vadsk.y_pos" value="0" />
	<property name="width" value="420" />
</xml>
