<xml>
	<property name="rotation" value="tableview" />
	<property name="rotation.column_0_name" value="Signal" />
	<property name="rotation.column_0_show" value="true" />
	<property name="rotation.column_0_width" value="100" />
	<property name="rotation.column_1_name" value="Time" />
	<property name="rotation.column_1_show" value="true" />
	<property name="rotation.column_1_width" value="100" />
	<property name="rotation.column_2_name" value="Value" />
	<property name="rotation.column_2_show" value="true" />
	<property name="rotation.column_2_width" value="100" />
	<property name="rotation.column_3_name" value="Unit" />
	<property name="rotation.column_3_show" value="true" />
	<property name="rotation.column_3_width" value="100" />
	<property name="rotation.column_4_name" value="Raw" />
	<property name="rotation.column_4_show" value="true" />
	<property name="rotation.column_4_width" value="100" />
	<property name="rotation.column_5_name" value="Text" />
	<property name="rotation.column_5_show" value="true" />
	<property name="rotation.column_5_width" value="100" />
	<property name="rotation.height" value="24" />
	<property name="rotation.maximized" value="false" />
	<property name="rotation.signal_0_displayformat" value="1" />
	<property name="rotation.signal_0_displayname" value="f32Value" />
	<property name="rotation.signal_0_name" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/f32Value" />
	<property name="rotation.signal_0_unit" value="" />
	<property name="rotation.signal_1_displayformat" value="1" />
	<property name="rotation.signal_1_displayname" value="f32Value" />
	<property name="rotation.signal_1_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/f32Value" />
	<property name="rotation.signal_1_unit" value="" />
	<property name="rotation.signal_2_displayformat" value="1" />
	<property name="rotation.signal_2_displayname" value="f32Value" />
	<property name="rotation.signal_2_name" value="adtf.core.mediadescription_manager/Tick_Filter/rotation_overall/data/tSignalValue/f32Value" />
	<property name="rotation.signal_2_unit" value="" />
	<property name="rotation.signal_3_displayformat" value="1" />
	<property name="rotation.signal_3_displayname" value="f32Value" />
	<property name="rotation.signal_3_name" value="adtf.core.mediadescription_manager/Stop_Filter/Velocity/data/tSignalValue/f32Value" />
	<property name="rotation.signal_3_unit" value="" />
	<property name="rotation.signal_4_displayformat" value="1" />
	<property name="rotation.signal_4_displayname" value="bValue" />
	<property name="rotation.signal_4_name" value="adtf.core.mediadescription_manager/Stop_Filter/finish_Stopping/data/tBoolSignalValue/bValue" />
	<property name="rotation.signal_4_unit" value="" />
	<property name="rotation.signal_count" value="5" />
	<property name="rotation.width" value="196" />
	<property name="rotation.x_pos" value="0" />
	<property name="rotation.y_pos" value="463" />
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="399" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="210" />
	<property name="View" value="tableview" />
	<property name="View.column_0_name" value="Signal" />
	<property name="View.column_0_show" value="true" />
	<property name="View.column_0_width" value="100" />
	<property name="View.column_1_name" value="Time" />
	<property name="View.column_1_show" value="true" />
	<property name="View.column_1_width" value="100" />
	<property name="View.column_2_name" value="Value" />
	<property name="View.column_2_show" value="true" />
	<property name="View.column_2_width" value="100" />
	<property name="View.column_3_name" value="Unit" />
	<property name="View.column_3_show" value="true" />
	<property name="View.column_3_width" value="100" />
	<property name="View.column_4_name" value="Raw" />
	<property name="View.column_4_show" value="true" />
	<property name="View.column_4_width" value="100" />
	<property name="View.column_5_name" value="Text" />
	<property name="View.column_5_show" value="true" />
	<property name="View.column_5_width" value="100" />
	<property name="View.height" value="24" />
	<property name="View.maximized" value="false" />
	<property name="View.signal_0_displayformat" value="1" />
	<property name="View.signal_0_displayname" value="f32Value" />
	<property name="View.signal_0_name" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/f32Value" />
	<property name="View.signal_0_unit" value="" />
	<property name="View.signal_1_displayformat" value="1" />
	<property name="View.signal_1_displayname" value="f32Value" />
	<property name="View.signal_1_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/f32Value" />
	<property name="View.signal_1_unit" value="" />
	<property name="View.signal_2_displayformat" value="1" />
	<property name="View.signal_2_displayname" value="bStart" />
	<property name="View.signal_2_name" value="adtf.core.mediadescription_manager/Test_Stop_Filter/StopStruct/data/tStopStruct/bStart" />
	<property name="View.signal_2_unit" value="" />
	<property name="View.signal_3_displayformat" value="1" />
	<property name="View.signal_3_displayname" value="fDistance" />
	<property name="View.signal_3_name" value="adtf.core.mediadescription_manager/Test_Stop_Filter/StopStruct/data/tStopStruct/fDistance" />
	<property name="View.signal_3_unit" value="" />
	<property name="View.signal_4_displayformat" value="1" />
	<property name="View.signal_4_displayname" value="fVelocity" />
	<property name="View.signal_4_name" value="adtf.core.mediadescription_manager/Test_Stop_Filter/StopStruct/data/tStopStruct/fVelocity" />
	<property name="View.signal_4_unit" value="" />
	<property name="View.signal_count" value="5" />
	<property name="View.width" value="196" />
	<property name="View.x_pos" value="196" />
	<property name="View.y_pos" value="463" />
	<property name="View 2" value="tableview" />
	<property name="View 2.column_0_name" value="Signal" />
	<property name="View 2.column_0_show" value="true" />
	<property name="View 2.column_0_width" value="100" />
	<property name="View 2.column_1_name" value="Time" />
	<property name="View 2.column_1_show" value="true" />
	<property name="View 2.column_1_width" value="100" />
	<property name="View 2.column_2_name" value="Value" />
	<property name="View 2.column_2_show" value="true" />
	<property name="View 2.column_2_width" value="100" />
	<property name="View 2.column_3_name" value="Unit" />
	<property name="View 2.column_3_show" value="true" />
	<property name="View 2.column_3_width" value="100" />
	<property name="View 2.column_4_name" value="Raw" />
	<property name="View 2.column_4_show" value="true" />
	<property name="View 2.column_4_width" value="100" />
	<property name="View 2.column_5_name" value="Text" />
	<property name="View 2.column_5_show" value="true" />
	<property name="View 2.column_5_width" value="100" />
	<property name="View 2.height" value="321" />
	<property name="View 2.maximized" value="false" />
	<property name="View 2.signal_0_displayformat" value="1" />
	<property name="View 2.signal_0_displayname" value="bValue" />
	<property name="View 2.signal_0_name" value="adtf.core.mediadescription_manager/Stop_Filter_for_Turning/Stop_LF/data/tBoolSignalValue/bValue" />
	<property name="View 2.signal_0_unit" value="" />
	<property name="View 2.signal_1_displayformat" value="1" />
	<property name="View 2.signal_1_displayname" value="fMaxVel" />
	<property name="View 2.signal_1_name" value="adtf.core.mediadescription_manager/Stop_Filter_for_Turning/Velocity/data/tLTVelocityValue/fMaxVel" />
	<property name="View 2.signal_1_unit" value="" />
	<property name="View 2.signal_2_displayformat" value="1" />
	<property name="View 2.signal_2_displayname" value="fMinVel" />
	<property name="View 2.signal_2_name" value="adtf.core.mediadescription_manager/Stop_Filter_for_Turning/Velocity/data/tLTVelocityValue/fMinVel" />
	<property name="View 2.signal_2_unit" value="" />
	<property name="View 2.signal_count" value="3" />
	<property name="View 2.width" value="550" />
	<property name="View 2.x_pos" value="0" />
	<property name="View 2.y_pos" value="0" />
	<property name="View 3" value="scopeview" />
	<property name="View 3.active_signal" value="0" />
	<property name="View 3.autozoom_timer" value="false" />
	<property name="View 3.autozoomproperties_allsignals" value="true" />
	<property name="View 3.autozoomproperties_onlyvisiblevalues" value="false" />
	<property name="View 3.autozoomproperties_refreshrate" value="1000" />
	<property name="View 3.col_back_b" value="0" />
	<property name="View 3.col_back_g" value="0" />
	<property name="View 3.col_back_r" value="0" />
	<property name="View 3.col_grid_b" value="50" />
	<property name="View 3.col_grid_g" value="50" />
	<property name="View 3.col_grid_r" value="50" />
	<property name="View 3.column_name_width" value="100" />
	<property name="View 3.height" value="451" />
	<property name="View 3.link_selections" value="false" />
	<property name="View 3.maximized" value="false" />
	<property name="View 3.menubar" value="true" />
	<property name="View 3.sel_mode" value="0" />
	<property name="View 3.show_active_only" value="true" />
	<property name="View 3.show_markers" value="true" />
	<property name="View 3.show_modified_only" value="false" />
	<property name="View 3.show_one_scale" value="false" />
	<property name="View 3.showcolumn_minmaxavg" value="true" />
	<property name="View 3.showcolumn_selection" value="true" />
	<property name="View 3.showcolumn_unit" value="true" />
	<property name="View 3.sig0" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/f32Value" />
	<property name="View 3.sig0.cblue" value="85" />
	<property name="View 3.sig0.cgreen" value="255" />
	<property name="View 3.sig0.cred" value="0" />
	<property name="View 3.sig0.displayname" value="f32Value" />
	<property name="View 3.sig0.factor" value="1" />
	<property name="View 3.sig0.linestyle" value="1" />
	<property name="View 3.sig0.max" value="1000" />
	<property name="View 3.sig0.min" value="-1000" />
	<property name="View 3.sig0.offset" value="0" />
	<property name="View 3.sig0.plotpoints" value="false" />
	<property name="View 3.sig0.scale_max" value="0,5210796342" />
	<property name="View 3.sig0.scale_min" value="-0,2064199641" />
	<property name="View 3.sig0.show" value="true" />
	<property name="View 3.sig0.show_scale" value="1" />
	<property name="View 3.sig0.unit" value="" />
	<property name="View 3.sig1" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 3.sig1.cblue" value="255" />
	<property name="View 3.sig1.cgreen" value="255" />
	<property name="View 3.sig1.cred" value="127" />
	<property name="View 3.sig1.displayname" value="ui32ArduinoTimestamp" />
	<property name="View 3.sig1.factor" value="1" />
	<property name="View 3.sig1.linestyle" value="1" />
	<property name="View 3.sig1.max" value="1000" />
	<property name="View 3.sig1.min" value="-1000" />
	<property name="View 3.sig1.offset" value="0" />
	<property name="View 3.sig1.plotpoints" value="false" />
	<property name="View 3.sig1.scale_max" value="1040" />
	<property name="View 3.sig1.scale_min" value="-1040" />
	<property name="View 3.sig1.show" value="false" />
	<property name="View 3.sig1.show_scale" value="1" />
	<property name="View 3.sig1.unit" value="" />
	<property name="View 3.sig10" value="adtf.core.mediadescription_manager/Start_Filter/Velocity/data/tSignalValue/f32Value" />
	<property name="View 3.sig10.cblue" value="255" />
	<property name="View 3.sig10.cgreen" value="166" />
	<property name="View 3.sig10.cred" value="242" />
	<property name="View 3.sig10.displayname" value="f32Value" />
	<property name="View 3.sig10.factor" value="1" />
	<property name="View 3.sig10.linestyle" value="1" />
	<property name="View 3.sig10.max" value="1000" />
	<property name="View 3.sig10.min" value="-1000" />
	<property name="View 3.sig10.offset" value="0" />
	<property name="View 3.sig10.plotpoints" value="false" />
	<property name="View 3.sig10.scale_max" value="1,021528916" />
	<property name="View 3.sig10.scale_min" value="-0,02002997875" />
	<property name="View 3.sig10.show" value="true" />
	<property name="View 3.sig10.show_scale" value="1" />
	<property name="View 3.sig10.unit" value="" />
	<property name="View 3.sig11" value="adtf.core.mediadescription_manager/Start_Filter/Velocity/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 3.sig11.cblue" value="170" />
	<property name="View 3.sig11.cgreen" value="0" />
	<property name="View 3.sig11.cred" value="255" />
	<property name="View 3.sig11.displayname" value="ui32ArduinoTimestamp" />
	<property name="View 3.sig11.factor" value="1" />
	<property name="View 3.sig11.linestyle" value="1" />
	<property name="View 3.sig11.max" value="1000" />
	<property name="View 3.sig11.min" value="-1000" />
	<property name="View 3.sig11.offset" value="0" />
	<property name="View 3.sig11.plotpoints" value="false" />
	<property name="View 3.sig11.scale_max" value="1040" />
	<property name="View 3.sig11.scale_min" value="-1040" />
	<property name="View 3.sig11.show" value="false" />
	<property name="View 3.sig11.show_scale" value="1" />
	<property name="View 3.sig11.unit" value="" />
	<property name="View 3.sig12" value="adtf.core.mediadescription_manager/Stop_Filter/Velocity/data/tSignalValue/f32Value" />
	<property name="View 3.sig12.cblue" value="85" />
	<property name="View 3.sig12.cgreen" value="0" />
	<property name="View 3.sig12.cred" value="255" />
	<property name="View 3.sig12.displayname" value="f32Value" />
	<property name="View 3.sig12.factor" value="1" />
	<property name="View 3.sig12.linestyle" value="1" />
	<property name="View 3.sig12.max" value="1000" />
	<property name="View 3.sig12.min" value="-1000" />
	<property name="View 3.sig12.offset" value="0" />
	<property name="View 3.sig12.plotpoints" value="false" />
	<property name="View 3.sig12.scale_max" value="0,5133214474" />
	<property name="View 3.sig12.scale_min" value="-0,01006512642" />
	<property name="View 3.sig12.show" value="true" />
	<property name="View 3.sig12.show_scale" value="1" />
	<property name="View 3.sig12.unit" value="" />
	<property name="View 3.sig13" value="adtf.core.mediadescription_manager/Stop_Filter/Velocity/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 3.sig13.cblue" value="0" />
	<property name="View 3.sig13.cgreen" value="255" />
	<property name="View 3.sig13.cred" value="0" />
	<property name="View 3.sig13.displayname" value="ui32ArduinoTimestamp" />
	<property name="View 3.sig13.factor" value="1" />
	<property name="View 3.sig13.linestyle" value="1" />
	<property name="View 3.sig13.max" value="1000" />
	<property name="View 3.sig13.min" value="-1000" />
	<property name="View 3.sig13.offset" value="0" />
	<property name="View 3.sig13.plotpoints" value="false" />
	<property name="View 3.sig13.scale_max" value="1040" />
	<property name="View 3.sig13.scale_min" value="-1040" />
	<property name="View 3.sig13.show" value="false" />
	<property name="View 3.sig13.show_scale" value="1" />
	<property name="View 3.sig13.unit" value="" />
	<property name="View 3.sig14" value="adtf.core.mediadescription_manager/Stop_Filter/finish_Stopping/data/tBoolSignalValue/bValue" />
	<property name="View 3.sig14.cblue" value="0" />
	<property name="View 3.sig14.cgreen" value="0" />
	<property name="View 3.sig14.cred" value="255" />
	<property name="View 3.sig14.displayname" value="bValue" />
	<property name="View 3.sig14.factor" value="1" />
	<property name="View 3.sig14.linestyle" value="1" />
	<property name="View 3.sig14.max" value="1000" />
	<property name="View 3.sig14.min" value="-1000" />
	<property name="View 3.sig14.offset" value="0" />
	<property name="View 3.sig14.plotpoints" value="false" />
	<property name="View 3.sig14.scale_max" value="1040" />
	<property name="View 3.sig14.scale_min" value="-1040" />
	<property name="View 3.sig14.show" value="false" />
	<property name="View 3.sig14.show_scale" value="1" />
	<property name="View 3.sig14.unit" value="" />
	<property name="View 3.sig15" value="adtf.core.mediadescription_manager/Stop_Filter/finish_Stopping/data/tBoolSignalValue/ui32ArduinoTimestamp" />
	<property name="View 3.sig15.cblue" value="255" />
	<property name="View 3.sig15.cgreen" value="255" />
	<property name="View 3.sig15.cred" value="0" />
	<property name="View 3.sig15.displayname" value="ui32ArduinoTimestamp" />
	<property name="View 3.sig15.factor" value="1" />
	<property name="View 3.sig15.linestyle" value="1" />
	<property name="View 3.sig15.max" value="1000" />
	<property name="View 3.sig15.min" value="-1000" />
	<property name="View 3.sig15.offset" value="0" />
	<property name="View 3.sig15.plotpoints" value="false" />
	<property name="View 3.sig15.scale_max" value="1040" />
	<property name="View 3.sig15.scale_min" value="-1040" />
	<property name="View 3.sig15.show" value="false" />
	<property name="View 3.sig15.show_scale" value="1" />
	<property name="View 3.sig15.unit" value="" />
	<property name="View 3.sig2" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/f32Value" />
	<property name="View 3.sig2.cblue" value="244" />
	<property name="View 3.sig2.cgreen" value="244" />
	<property name="View 3.sig2.cred" value="244" />
	<property name="View 3.sig2.displayname" value="f32Value" />
	<property name="View 3.sig2.factor" value="1" />
	<property name="View 3.sig2.linestyle" value="1" />
	<property name="View 3.sig2.max" value="1000" />
	<property name="View 3.sig2.min" value="-1000" />
	<property name="View 3.sig2.offset" value="0" />
	<property name="View 3.sig2.plotpoints" value="false" />
	<property name="View 3.sig2.scale_max" value="2,106810022" />
	<property name="View 3.sig2.scale_min" value="-0,04131000042" />
	<property name="View 3.sig2.show" value="true" />
	<property name="View 3.sig2.show_scale" value="1" />
	<property name="View 3.sig2.unit" value="" />
	<property name="View 3.sig3" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 3.sig3.cblue" value="170" />
	<property name="View 3.sig3.cgreen" value="170" />
	<property name="View 3.sig3.cred" value="127" />
	<property name="View 3.sig3.displayname" value="ui32ArduinoTimestamp" />
	<property name="View 3.sig3.factor" value="1" />
	<property name="View 3.sig3.linestyle" value="1" />
	<property name="View 3.sig3.max" value="1000" />
	<property name="View 3.sig3.min" value="-1000" />
	<property name="View 3.sig3.offset" value="0" />
	<property name="View 3.sig3.plotpoints" value="false" />
	<property name="View 3.sig3.scale_max" value="1040" />
	<property name="View 3.sig3.scale_min" value="-1040" />
	<property name="View 3.sig3.show" value="false" />
	<property name="View 3.sig3.show_scale" value="1" />
	<property name="View 3.sig3.unit" value="" />
	<property name="View 3.sig4" value="adtf.core.mediadescription_manager/Tick_Filter/rotation_overall/data/tSignalValue/f32Value" />
	<property name="View 3.sig4.cblue" value="170" />
	<property name="View 3.sig4.cgreen" value="170" />
	<property name="View 3.sig4.cred" value="0" />
	<property name="View 3.sig4.displayname" value="f32Value" />
	<property name="View 3.sig4.factor" value="1" />
	<property name="View 3.sig4.linestyle" value="1" />
	<property name="View 3.sig4.max" value="1000" />
	<property name="View 3.sig4.min" value="-1000" />
	<property name="View 3.sig4.offset" value="0" />
	<property name="View 3.sig4.plotpoints" value="false" />
	<property name="View 3.sig4.scale_max" value="1040" />
	<property name="View 3.sig4.scale_min" value="-1040" />
	<property name="View 3.sig4.show" value="false" />
	<property name="View 3.sig4.show_scale" value="1" />
	<property name="View 3.sig4.unit" value="" />
	<property name="View 3.sig5" value="adtf.core.mediadescription_manager/Tick_Filter/rotation_overall/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 3.sig5.cblue" value="0" />
	<property name="View 3.sig5.cgreen" value="255" />
	<property name="View 3.sig5.cred" value="127" />
	<property name="View 3.sig5.displayname" value="ui32ArduinoTimestamp" />
	<property name="View 3.sig5.factor" value="1" />
	<property name="View 3.sig5.linestyle" value="1" />
	<property name="View 3.sig5.max" value="1000" />
	<property name="View 3.sig5.min" value="-1000" />
	<property name="View 3.sig5.offset" value="0" />
	<property name="View 3.sig5.plotpoints" value="false" />
	<property name="View 3.sig5.scale_max" value="1040" />
	<property name="View 3.sig5.scale_min" value="-1040" />
	<property name="View 3.sig5.show" value="false" />
	<property name="View 3.sig5.show_scale" value="1" />
	<property name="View 3.sig5.unit" value="" />
	<property name="View 3.sig6" value="adtf.core.mediadescription_manager/Start_Filter/StopStruct/data/tStopStruct/bStart" />
	<property name="View 3.sig6.cblue" value="170" />
	<property name="View 3.sig6.cgreen" value="170" />
	<property name="View 3.sig6.cred" value="127" />
	<property name="View 3.sig6.displayname" value="bStart" />
	<property name="View 3.sig6.factor" value="1" />
	<property name="View 3.sig6.linestyle" value="1" />
	<property name="View 3.sig6.max" value="1000" />
	<property name="View 3.sig6.min" value="-1000" />
	<property name="View 3.sig6.offset" value="0" />
	<property name="View 3.sig6.plotpoints" value="false" />
	<property name="View 3.sig6.scale_max" value="1040" />
	<property name="View 3.sig6.scale_min" value="-1040" />
	<property name="View 3.sig6.show" value="false" />
	<property name="View 3.sig6.show_scale" value="1" />
	<property name="View 3.sig6.unit" value="" />
	<property name="View 3.sig7" value="adtf.core.mediadescription_manager/Start_Filter/StopStruct/data/tStopStruct/fDistance" />
	<property name="View 3.sig7.cblue" value="170" />
	<property name="View 3.sig7.cgreen" value="170" />
	<property name="View 3.sig7.cred" value="0" />
	<property name="View 3.sig7.displayname" value="fDistance" />
	<property name="View 3.sig7.factor" value="1" />
	<property name="View 3.sig7.linestyle" value="1" />
	<property name="View 3.sig7.max" value="1000" />
	<property name="View 3.sig7.min" value="-1000" />
	<property name="View 3.sig7.offset" value="0" />
	<property name="View 3.sig7.plotpoints" value="false" />
	<property name="View 3.sig7.scale_max" value="1040" />
	<property name="View 3.sig7.scale_min" value="-1040" />
	<property name="View 3.sig7.show" value="false" />
	<property name="View 3.sig7.show_scale" value="1" />
	<property name="View 3.sig7.unit" value="" />
	<property name="View 3.sig8" value="adtf.core.mediadescription_manager/Start_Filter/StopStruct/data/tStopStruct/fVelocity" />
	<property name="View 3.sig8.cblue" value="255" />
	<property name="View 3.sig8.cgreen" value="139" />
	<property name="View 3.sig8.cred" value="246" />
	<property name="View 3.sig8.displayname" value="fVelocity" />
	<property name="View 3.sig8.factor" value="1" />
	<property name="View 3.sig8.linestyle" value="1" />
	<property name="View 3.sig8.max" value="1000" />
	<property name="View 3.sig8.min" value="-1000" />
	<property name="View 3.sig8.offset" value="0" />
	<property name="View 3.sig8.plotpoints" value="false" />
	<property name="View 3.sig8.scale_max" value="0,499530226" />
	<property name="View 3.sig8.scale_min" value="0,4995302259" />
	<property name="View 3.sig8.show" value="false" />
	<property name="View 3.sig8.show_scale" value="1" />
	<property name="View 3.sig8.unit" value="" />
	<property name="View 3.sig9" value="adtf.core.mediadescription_manager/Start_Filter/StopStruct/data/tStopStruct/ui32ArduinoTimestamp" />
	<property name="View 3.sig9.cblue" value="170" />
	<property name="View 3.sig9.cgreen" value="255" />
	<property name="View 3.sig9.cred" value="255" />
	<property name="View 3.sig9.displayname" value="ui32ArduinoTimestamp" />
	<property name="View 3.sig9.factor" value="1" />
	<property name="View 3.sig9.linestyle" value="1" />
	<property name="View 3.sig9.max" value="1000" />
	<property name="View 3.sig9.min" value="-1000" />
	<property name="View 3.sig9.offset" value="0" />
	<property name="View 3.sig9.plotpoints" value="false" />
	<property name="View 3.sig9.scale_max" value="1040" />
	<property name="View 3.sig9.scale_min" value="-1040" />
	<property name="View 3.sig9.show" value="false" />
	<property name="View 3.sig9.show_scale" value="1" />
	<property name="View 3.sig9.unit" value="" />
	<property name="View 3.signal_count" value="16" />
	<property name="View 3.signal_label_x_offset" value="0" />
	<property name="View 3.signal_label_y_offset" value="0" />
	<property name="View 3.splitterpos1" value="109" />
	<property name="View 3.splitterpos2" value="634" />
	<property name="View 3.statusbar" value="true" />
	<property name="View 3.toolbar" value="true" />
	<property name="View 3.width" value="757" />
	<property name="View 3.x_pos" value="-9" />
	<property name="View 3.Xinterval" value="10000000" />
	<property name="View 3.y_pos" value="381" />
	<property name="View 3.Ymax" value="0,5210796342" />
	<property name="View 3.Ymin" value="-0,2064199641" />
	<property name="View 3.zoom_mode" value="0" />
	<property name="width" value="222" />
</xml>
