<xml>
	<property name="Signal Tree View" value="treeview" />
	<property name="Signal Tree View.column_0_width" value="399" />
	<property name="Signal Tree View.column_1_width" value="293" />
	<property name="Signal Tree View.column_2_width" value="60" />
	<property name="Signal Tree View.column_3_width" value="63" />
	<property name="Signal Tree View.width" value="220" />
	<property name="View" value="scopeview" />
	<property name="View.active_signal" value="0" />
	<property name="View.autozoom_timer" value="false" />
	<property name="View.autozoomproperties_allsignals" value="true" />
	<property name="View.autozoomproperties_onlyvisiblevalues" value="false" />
	<property name="View.autozoomproperties_refreshrate" value="1000" />
	<property name="View.col_back_b" value="0" />
	<property name="View.col_back_g" value="0" />
	<property name="View.col_back_r" value="0" />
	<property name="View.col_grid_b" value="50" />
	<property name="View.col_grid_g" value="50" />
	<property name="View.col_grid_r" value="50" />
	<property name="View.column_name_width" value="100" />
	<property name="View.height" value="300" />
	<property name="View.link_selections" value="false" />
	<property name="View.maximized" value="false" />
	<property name="View.menubar" value="true" />
	<property name="View.sel_mode" value="0" />
	<property name="View.show_active_only" value="false" />
	<property name="View.show_markers" value="true" />
	<property name="View.show_modified_only" value="false" />
	<property name="View.show_one_scale" value="false" />
	<property name="View.showcolumn_minmaxavg" value="true" />
	<property name="View.showcolumn_selection" value="true" />
	<property name="View.showcolumn_unit" value="true" />
	<property name="View.sig0" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/f32Value" />
	<property name="View.sig0.cblue" value="255" />
	<property name="View.sig0.cgreen" value="255" />
	<property name="View.sig0.cred" value="0" />
	<property name="View.sig0.displayname" value="f32Value" />
	<property name="View.sig0.factor" value="1" />
	<property name="View.sig0.linestyle" value="1" />
	<property name="View.sig0.max" value="1000" />
	<property name="View.sig0.min" value="-1000" />
	<property name="View.sig0.offset" value="0" />
	<property name="View.sig0.plotpoints" value="false" />
	<property name="View.sig0.scale_max" value="1,340959962" />
	<property name="View.sig0.scale_min" value="-0,02629333258" />
	<property name="View.sig0.show" value="false" />
	<property name="View.sig0.show_scale" value="1" />
	<property name="View.sig0.unit" value="" />
	<property name="View.sig1" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View.sig1.cblue" value="255" />
	<property name="View.sig1.cgreen" value="0" />
	<property name="View.sig1.cred" value="255" />
	<property name="View.sig1.displayname" value="ui32ArduinoTimestamp" />
	<property name="View.sig1.factor" value="1" />
	<property name="View.sig1.linestyle" value="1" />
	<property name="View.sig1.max" value="1000" />
	<property name="View.sig1.min" value="-1000" />
	<property name="View.sig1.offset" value="0" />
	<property name="View.sig1.plotpoints" value="false" />
	<property name="View.sig1.scale_max" value="1040" />
	<property name="View.sig1.scale_min" value="-1040" />
	<property name="View.sig1.show" value="false" />
	<property name="View.sig1.show_scale" value="1" />
	<property name="View.sig1.unit" value="" />
	<property name="View.sig2" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall_left/data/tSignalValue/f32Value" />
	<property name="View.sig2.cblue" value="0" />
	<property name="View.sig2.cgreen" value="255" />
	<property name="View.sig2.cred" value="255" />
	<property name="View.sig2.displayname" value="f32Value" />
	<property name="View.sig2.factor" value="1" />
	<property name="View.sig2.linestyle" value="1" />
	<property name="View.sig2.max" value="1000" />
	<property name="View.sig2.min" value="-1000" />
	<property name="View.sig2.offset" value="0" />
	<property name="View.sig2.plotpoints" value="false" />
	<property name="View.sig2.scale_max" value="1,508579972" />
	<property name="View.sig2.scale_min" value="-0,02957999945" />
	<property name="View.sig2.show" value="false" />
	<property name="View.sig2.show_scale" value="1" />
	<property name="View.sig2.unit" value="" />
	<property name="View.sig3" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall_left/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View.sig3.cblue" value="255" />
	<property name="View.sig3.cgreen" value="255" />
	<property name="View.sig3.cred" value="255" />
	<property name="View.sig3.displayname" value="ui32ArduinoTimestamp" />
	<property name="View.sig3.factor" value="1" />
	<property name="View.sig3.linestyle" value="1" />
	<property name="View.sig3.max" value="1000" />
	<property name="View.sig3.min" value="-1000" />
	<property name="View.sig3.offset" value="0" />
	<property name="View.sig3.plotpoints" value="false" />
	<property name="View.sig3.scale_max" value="1040" />
	<property name="View.sig3.scale_min" value="-1040" />
	<property name="View.sig3.show" value="false" />
	<property name="View.sig3.show_scale" value="1" />
	<property name="View.sig3.unit" value="" />
	<property name="View.sig4" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall_right/data/tSignalValue/f32Value" />
	<property name="View.sig4.cblue" value="0" />
	<property name="View.sig4.cgreen" value="85" />
	<property name="View.sig4.cred" value="255" />
	<property name="View.sig4.displayname" value="f32Value" />
	<property name="View.sig4.factor" value="1" />
	<property name="View.sig4.linestyle" value="1" />
	<property name="View.sig4.max" value="1000" />
	<property name="View.sig4.min" value="-1000" />
	<property name="View.sig4.offset" value="0" />
	<property name="View.sig4.plotpoints" value="false" />
	<property name="View.sig4.scale_max" value="1,173340073" />
	<property name="View.sig4.scale_min" value="-0,02300666809" />
	<property name="View.sig4.show" value="false" />
	<property name="View.sig4.show_scale" value="1" />
	<property name="View.sig4.unit" value="" />
	<property name="View.sig5" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall_right/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View.sig5.cblue" value="85" />
	<property name="View.sig5.cgreen" value="170" />
	<property name="View.sig5.cred" value="127" />
	<property name="View.sig5.displayname" value="ui32ArduinoTimestamp" />
	<property name="View.sig5.factor" value="1" />
	<property name="View.sig5.linestyle" value="1" />
	<property name="View.sig5.max" value="1000" />
	<property name="View.sig5.min" value="-1000" />
	<property name="View.sig5.offset" value="0" />
	<property name="View.sig5.plotpoints" value="false" />
	<property name="View.sig5.scale_max" value="1040" />
	<property name="View.sig5.scale_min" value="-1040" />
	<property name="View.sig5.show" value="false" />
	<property name="View.sig5.show_scale" value="1" />
	<property name="View.sig5.unit" value="" />
	<property name="View.sig6" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_1/data/tSignalValue/f32Value" />
	<property name="View.sig6.cblue" value="170" />
	<property name="View.sig6.cgreen" value="85" />
	<property name="View.sig6.cred" value="255" />
	<property name="View.sig6.displayname" value="f32Value" />
	<property name="View.sig6.factor" value="1" />
	<property name="View.sig6.linestyle" value="1" />
	<property name="View.sig6.max" value="1000" />
	<property name="View.sig6.min" value="-1000" />
	<property name="View.sig6.offset" value="0" />
	<property name="View.sig6.plotpoints" value="false" />
	<property name="View.sig6.scale_max" value="1040" />
	<property name="View.sig6.scale_min" value="-1040" />
	<property name="View.sig6.show" value="true" />
	<property name="View.sig6.show_scale" value="1" />
	<property name="View.sig6.unit" value="" />
	<property name="View.sig7" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_1/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View.sig7.cblue" value="85" />
	<property name="View.sig7.cgreen" value="170" />
	<property name="View.sig7.cred" value="0" />
	<property name="View.sig7.displayname" value="ui32ArduinoTimestamp" />
	<property name="View.sig7.factor" value="1" />
	<property name="View.sig7.linestyle" value="1" />
	<property name="View.sig7.max" value="1000" />
	<property name="View.sig7.min" value="-1000" />
	<property name="View.sig7.offset" value="0" />
	<property name="View.sig7.plotpoints" value="false" />
	<property name="View.sig7.scale_max" value="1040" />
	<property name="View.sig7.scale_min" value="-1040" />
	<property name="View.sig7.show" value="false" />
	<property name="View.sig7.show_scale" value="1" />
	<property name="View.sig7.unit" value="" />
	<property name="View.sig8" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_2/data/tSignalValue/f32Value" />
	<property name="View.sig8.cblue" value="255" />
	<property name="View.sig8.cgreen" value="170" />
	<property name="View.sig8.cred" value="127" />
	<property name="View.sig8.displayname" value="f32Value" />
	<property name="View.sig8.factor" value="1" />
	<property name="View.sig8.linestyle" value="1" />
	<property name="View.sig8.max" value="1000" />
	<property name="View.sig8.min" value="-1000" />
	<property name="View.sig8.offset" value="0" />
	<property name="View.sig8.plotpoints" value="false" />
	<property name="View.sig8.scale_max" value="1040" />
	<property name="View.sig8.scale_min" value="-1040" />
	<property name="View.sig8.show" value="false" />
	<property name="View.sig8.show_scale" value="1" />
	<property name="View.sig8.unit" value="" />
	<property name="View.sig9" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_2/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View.sig9.cblue" value="85" />
	<property name="View.sig9.cgreen" value="255" />
	<property name="View.sig9.cred" value="255" />
	<property name="View.sig9.displayname" value="ui32ArduinoTimestamp" />
	<property name="View.sig9.factor" value="1" />
	<property name="View.sig9.linestyle" value="1" />
	<property name="View.sig9.max" value="1000" />
	<property name="View.sig9.min" value="-1000" />
	<property name="View.sig9.offset" value="0" />
	<property name="View.sig9.plotpoints" value="false" />
	<property name="View.sig9.scale_max" value="1040" />
	<property name="View.sig9.scale_min" value="-1040" />
	<property name="View.sig9.show" value="false" />
	<property name="View.sig9.show_scale" value="1" />
	<property name="View.sig9.unit" value="" />
	<property name="View.signal_count" value="10" />
	<property name="View.signal_label_x_offset" value="0" />
	<property name="View.signal_label_y_offset" value="0" />
	<property name="View.splitterpos1" value="256" />
	<property name="View.splitterpos2" value="480" />
	<property name="View.statusbar" value="true" />
	<property name="View.toolbar" value="true" />
	<property name="View.width" value="750" />
	<property name="View.x_pos" value="-1" />
	<property name="View.Xinterval" value="5625000" />
	<property name="View.y_pos" value="280" />
	<property name="View.Ymax" value="1,340959962" />
	<property name="View.Ymin" value="-0,02629333258" />
	<property name="View.zoom_mode" value="0" />
	<property name="View 2" value="tableview" />
	<property name="View 2.column_0_name" value="Signal" />
	<property name="View 2.column_0_show" value="true" />
	<property name="View 2.column_0_width" value="100" />
	<property name="View 2.column_1_name" value="Time" />
	<property name="View 2.column_1_show" value="true" />
	<property name="View 2.column_1_width" value="100" />
	<property name="View 2.column_2_name" value="Value" />
	<property name="View 2.column_2_show" value="true" />
	<property name="View 2.column_2_width" value="100" />
	<property name="View 2.column_3_name" value="Unit" />
	<property name="View 2.column_3_show" value="true" />
	<property name="View 2.column_3_width" value="100" />
	<property name="View 2.column_4_name" value="Raw" />
	<property name="View 2.column_4_show" value="true" />
	<property name="View 2.column_4_width" value="100" />
	<property name="View 2.column_5_name" value="Text" />
	<property name="View 2.column_5_show" value="true" />
	<property name="View 2.column_5_width" value="100" />
	<property name="View 2.height" value="271" />
	<property name="View 2.maximized" value="false" />
	<property name="View 2.signal_0_displayformat" value="1" />
	<property name="View 2.signal_0_displayname" value="f32Value" />
	<property name="View 2.signal_0_name" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/f32Value" />
	<property name="View 2.signal_0_unit" value="" />
	<property name="View 2.signal_10_displayformat" value="1" />
	<property name="View 2.signal_10_displayname" value="f32Value" />
	<property name="View 2.signal_10_name" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_2/data/tSignalValue/f32Value" />
	<property name="View 2.signal_10_unit" value="" />
	<property name="View 2.signal_11_displayformat" value="1" />
	<property name="View 2.signal_11_displayname" value="ui32ArduinoTimestamp" />
	<property name="View 2.signal_11_name" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_2/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 2.signal_11_unit" value="" />
	<property name="View 2.signal_1_displayformat" value="1" />
	<property name="View 2.signal_1_displayname" value="ui32ArduinoTimestamp" />
	<property name="View 2.signal_1_name" value="adtf.core.mediadescription_manager/Tick_Filter/car_speed/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 2.signal_1_unit" value="" />
	<property name="View 2.signal_2_displayformat" value="1" />
	<property name="View 2.signal_2_displayname" value="f32Value" />
	<property name="View 2.signal_2_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/f32Value" />
	<property name="View 2.signal_2_unit" value="" />
	<property name="View 2.signal_3_displayformat" value="1" />
	<property name="View 2.signal_3_displayname" value="ui32ArduinoTimestamp" />
	<property name="View 2.signal_3_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 2.signal_3_unit" value="" />
	<property name="View 2.signal_4_displayformat" value="1" />
	<property name="View 2.signal_4_displayname" value="f32Value" />
	<property name="View 2.signal_4_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall_left/data/tSignalValue/f32Value" />
	<property name="View 2.signal_4_unit" value="" />
	<property name="View 2.signal_5_displayformat" value="1" />
	<property name="View 2.signal_5_displayname" value="ui32ArduinoTimestamp" />
	<property name="View 2.signal_5_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall_left/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 2.signal_5_unit" value="" />
	<property name="View 2.signal_6_displayformat" value="1" />
	<property name="View 2.signal_6_displayname" value="f32Value" />
	<property name="View 2.signal_6_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall_right/data/tSignalValue/f32Value" />
	<property name="View 2.signal_6_unit" value="" />
	<property name="View 2.signal_7_displayformat" value="1" />
	<property name="View 2.signal_7_displayname" value="ui32ArduinoTimestamp" />
	<property name="View 2.signal_7_name" value="adtf.core.mediadescription_manager/Tick_Filter/distance_overall_right/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 2.signal_7_unit" value="" />
	<property name="View 2.signal_8_displayformat" value="1" />
	<property name="View 2.signal_8_displayname" value="f32Value" />
	<property name="View 2.signal_8_name" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_1/data/tSignalValue/f32Value" />
	<property name="View 2.signal_8_unit" value="" />
	<property name="View 2.signal_9_displayformat" value="1" />
	<property name="View 2.signal_9_displayname" value="ui32ArduinoTimestamp" />
	<property name="View 2.signal_9_name" value="adtf.core.mediadescription_manager/AADC_Signal_Value_Generator/Value_1/data/tSignalValue/ui32ArduinoTimestamp" />
	<property name="View 2.signal_9_unit" value="" />
	<property name="View 2.signal_count" value="12" />
	<property name="View 2.width" value="550" />
	<property name="View 2.x_pos" value="0" />
	<property name="View 2.y_pos" value="0" />
	<property name="width" value="420" />
</xml>
